@import '../../../style/vars';
@import '../../../style/neat/neat';
.data-btn{
  display:flex;
  justify-content:space-between;
  align-items:center;
  border-top:1px solid #e0e0e0;
  padding-top:$padding-base;
}
.editable-add-btn,.editable-refresh-btn {
  margin: $margin-base 0;
}
.ant-table-wrapper{
  margin-bottom: $margin-base;
}
.province-table{
  padding: $padding-base 0;
}
.editable-row-operations a {
  margin-right: 8px;
}
.ant-table-thead{
  tr{
    th{
        text-align:center;
      }
  } 
}
tr{
  text-align:center;
}