@import '../../../style/vars';
@import '../../../style/neat/neat';
.data-btn{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.editable-add-btn,.editable-refresh-btn {
  margin-top: $margin-base;
}
.editable-row-text {
  padding: 5px;
}

.editable-row-operations a {
  margin-right: 8px;
}