@import '../../../style/vars';
@import '../../../style/neat/neat';

.seek-table {
    .ant-table-small .ant-table-header > table, .ant-table-small .ant-table-body > table{
        padding:0
    }
    .firstTable{
        margin: 15px 0;
    }
    .panel{
        background-color: #fff;
        border-radius: 5px;
        padding: 0 $padding-base $padding-base $padding-base;
        .border-b {
            border-bottom: 2px solid #000;
        }
    }
}

